* {
  /* outline: dashed 3px orange; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgba(0, 0, 0, 0.79);
  }

  header {
    background-image: url("../img/woodbackground.jpg");
    /* Photo by <a href="https://unsplash.com/@keithmisner?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Keith Misner</a> on <a href="https://unsplash.com/s/photos/wood?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash */
  }

  body{
    background-image: url("../img/whitebackgroundwood.jpeg");
        /* Erlangen, Deutschland: Weathered bright grey wooden texture background pattern timber plank */
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* https://www.w3schools.com/cssref/pr_background-attachment.asp */
  }

  nav, nav a, nav ul li emp {
    background-color: rgb(59, 54, 54);
    color: whitesmoke;
    text-decoration: none;
  }

  nav ul li emp {
    font-style: italic;
  }

  nav > ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 0px;
    align-items: center;
    height: 40px;
  }

  nav > ul > li {
    flex-grow: 1;
    text-align: center;
    font-size: 14pt;
    /* outline: purple dashed 2px; */
  }

  #topnav ul {
    margin-top: 0px;
  }

  #rescue {
    text-align: center;
    font-style: italic;
    font-size: 19pt;
    font-weight: bold;
  }
  
  #facetime {
    width: 600px;
    margin: 70px auto;
    /* justify-content: center; */
  }

  .futurecontent {
    width: 800px;
    margin: 30px auto;
  }
  
  h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 52pt;
    text-align: center;
    color: rgb(218, 217, 217);
    font-style: italic;
    margin: 50px 0px 50px 0px;
    padding-bottom: 50px;
  }
  
  h2{
    /* outline: dashed 2px green; */
    text-align: center;
    font-size: 23pt;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .services h2 {
    font-size: 25pt;
    font-style: italic;
    margin-bottom: 0px;
  }

  h3 {
    /* outline: dashed 2px red; */
    text-align: center;
    margin-top: 45px;
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 20px;
  }

  hr {
    height: 1px;
    background-color: rgb(80, 75, 75);
    margin: 0px 200px 0px 200px;
    padding: 0px 200px 0px 200px;
  }
  
  .services > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .services div div p, .services div div div p {
    width: 450px;
    text-indent: 1.5em;
    margin: 2px 60px 2px 60px
  }

  #facetime p {
    text-align: justify;
    margin-bottom: 15px;
  }

  p {
    /* outline: dashed 2px blue; */
    line-height: 1.5em;
    font-size: 14pt;
    text-indent: 2.5em;
  }

  #contactinfo {
    list-style: square;
    text-align: center;
    line-height: 2em;
    font-size: 20pt;
  }

  #customercontact{
    margin-top: 50px;
    text-align: center;
    line-height: 2em;
    font-size: 18pt;
  }

  #formfields {
    margin-top: 60px;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    flex-direction: column;
  }

  label {
    margin-left: 10px;
    margin-right: 1px;
  }

  input {
    margin-left: 1px;
    margin-right: 10px;
  }

  footer {
    margin-top: 60px;
    margin-bottom: 40px;
  }