* {
  background-color: antiquewhite;
  outline: dashed 3px orange;
  font-family: Georgia, 'Times New Roman', Times, serif;
  }

  h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
  }