* {
  background-color: antiquewhite;
  outline: dashed 3px orange;
  font-family: Georgia, 'Times New Roman', Times, serif;
  }

  h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
  }

  h2{
    outline: dashed 2px green;
  }

  h3 {
    outline: dashed 2px red;

  }

  p {
    outline: dashed 2px blue;

  }

/* 
  class's
  nobullets
  centered


  id's
  topnav botnav */